*.log
temp/
pyfiles/__pycache__/functs.cpython-311.pyc
pyfiles/__pycache__/models.cpython-311.pyc
__pycache__/functs.cpython-311.pyc
__pycache__/models.cpython-311.pyc
shopping.db
MonthlyBudget/__pycache__/functs.cpython-311.pyc
MonthlyBudget/__pycache__/models.cpython-311.pyc
