{% extends 'base.html' %}
{% block body %}

<h2> {{ the_day }} {{ the_month_name }} {{ the_year }}</h2>

<table>
    <tr>
        <th>Date of purchase</th>
        <th>Value</th>
        <th>Item</th>
        <th>Worth it?</th>
    </tr>
    {% for row in shopping_list %}
    <tr>
        {% for cell in row %}
        {% if "&*@!" in cell%}
        {% set new_cell = cell[4:] %}
        {% set delete_button = "Delete" %}
        <td>
            <form method='POST' action='/delete_entry'><input value="{{ delete_button }}" class="button-link"
                    type='SUBMIT'>
                <input type="hidden" name="id_to_delete" value="{{ new_cell }}">
            </form>
        </td>
        {% else %}
        <td>{{cell|safe }}</td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td>All expenses</td>
        <td>{{sum_of_expenses}}</td>
        <td colspan="2">
            <form method='POST' action='/month_view/{{the_year}}-{{the_month}}'><input value="Back to month view" class="button-link" type='SUBMIT'>        
            </form>
        </td>
    </tr>
</table>

{% endblock %}